/// Fonts
$Cormorant: "Cormorant Unicase", serif;
$Prata: "Prata", serif;
$Plus: "Plus Jakarta Sans", sans-serif;

/// Colors
$primary-color: #74642f;
$dark-color: #111111;
$white-color: #f2f2f2;

$text-color: #7a7a7a;
$mid-grey: #777777;
$mid-grey2: #999999;
