.book-card {
  @include flex-center-column;

  &__image {
    background-color: #efeee8;
    outline: 1px solid #eae8df;
    cursor: pointer;
  }

  &__title {
    padding-top: 2rem;
    @include font($Prata, 400);
    font-size: 2.2rem;
    color: $dark-color;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  &__autor {
    @include font($Plus, 400);
    font-size: 1.4rem;
    color: #888888;
  }

  &__price {
    padding-top: 2rem;
    @include font($Prata, 400);
    font-size: 1.8rem;
    color: $primary-color;
    position: relative;
  }

  &__old-price {
    @include font($Prata, 400);
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #999999;
    margin-right: 1rem;
  }

  &__discount {
    content: "";
    position: absolute;
    top: -47.5rem;
    left: -5rem;
    @media (min-width: 550px) {
      top: -45rem;
      left: -4.5rem;
    }
    @media (min-width: 1121px) {
      top: -41rem;
      left: -3rem;
    }
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    @include font($Plus, 500);
    color: #f3f2ec;
    background-color: $primary-color;
  }
}
