.section-featured-books {
  padding: 10rem 1rem;
  @media (min-width: 850px) {
    max-width: 1400px;
    margin: 0 auto;
    padding: 18rem 1rem;
  }

  & .featured-books {
    text-align: center;

    &__info {
      @include font($Plus, 500);
      text-transform: uppercase;
      font-size: 1.3rem;
      color: $text-color;
      letter-spacing: 0.19rem;
    }

    &__title {
      @include font($Prata, 400);
      font-size: 4.8rem;
      color: $dark-color;
      display: flex;
      flex-basis: 100%;
      align-items: center;
      justify-content: center;
      @include mq(medium) {
        &::before,
        &::after {
          content: "";
          flex-grow: 1;
          background-color: #e0e0e0;
          height: 1px;
          margin: 0px 80px;
        }
      }
    }

    &-wrapper {
      display: grid;
      align-items: center;
      gap: 4rem;
      padding: 5.5rem 0;
      border-bottom: 1px solid #e0e0e0;
      @media (min-width: 560px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1121px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .pagination {
      padding: 5rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      & ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        grid-area: 1/2;
      }

      .dot {
        display: block;
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #d7d5cc;
        cursor: pointer;

        &--active {
          background-color: $primary-color;
          outline: 1px solid #d7d5cc;
          outline-offset: 1rem;
        }
      }

      .pagination__view-all {
        font-size: 1.6rem;
        color: $dark-color;
        text-align: right;
        grid-area: 1/3;
        cursor: pointer;
      }
    }
  }
}
