.logo {
  @include font($Cormorant, bold);
  font-size: 4.6rem;

  ::after {
    content: "SAW";
    @include font($Cormorant, 300);
    font-size: 4.6rem;
  }
}

.arrow-right {
  display: inline-block;
  &::before {
    display: block;
    content: "";
    width: 20px;
    aspect-ratio: 1;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
