form {
  max-width: 560px;
  color: $text-color;

  & .wrapper {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 4.5rem;
    border-bottom: 1px solid #6f6f6f;
    @media (min-width: 850px) {
      margin: 0;
    }
  }

  & input[type="email"] {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0.5rem 0;

    &::placeholder {
      letter-spacing: 0.08rem;
    }
  }

  & button[type="submit"] {
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 10px;
      left: 100%;
      width: 16px;
      aspect-ratio: 1;
      background-image: url(../images/newsletter-send.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
