.primary-nav {
  display: flex;
  gap: 5rem;

  & li {
    text-transform: uppercase;
    color: $dark-color;
    letter-spacing: 0.19rem;
    cursor: pointer;
    &:first-child {
      color: $primary-color;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

@media (max-width: 850px) {
  .menu-toggle {
    position: absolute;
    right: 1rem;
    width: 50px;
    z-index: 10000;
    aspect-ratio: 1;
    background-image: url(../images/Hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: transform 0.3s ease-out;
    padding: 0;
    cursor: pointer;

    &[aria-expanded="true"] {
      position: fixed;
      background-image: url(../images/close-icon.svg);
      right: 2rem;
    }
  }

  .primary-nav {
    position: fixed;
    inset: 0;
    z-index: 9999;
    flex-direction: column;
    padding-top: 15rem;
    gap: 0rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    background-color: #f3f2ec;
    text-align: center;

    & li {
      width: 100%;
      padding: 2rem;
    }

    &[data-visible="true"] {
      transform: translateX(0%);
    }
  }
}
